// original file: https://www.intelius.com/static/cf79402dac1017ae236a9387f5599d4b.css
// this file is stripped down. Includes mostly styles for the bucket links.


.Addr_MultiCol_Outer {
				margin-top: 10px;
				margin-bottom: 20px
}

.FiveCol {
				float: left;
				width: 172px
}

.FiveCol a {
	font-weight: normal;
	line-height: 30px;
	font-size: 16px;
}

.TwoCol {
				float: left;
				width: 400px
}

.MultiColOuter {
				font-size: 9pt;
				font-weight: bold;
				padding: 0 22px
}

.MultiColOuter a {
				text-decoration: none
}

.MultiColOuter a:link,
.MultiColOuter a:visited {
				text-decoration: none
}

.MultiColOuter a:hover,
.MultiColOuter a:focus,
.MultiColOuter a:active {
				border-bottom: 1px solid #99c;
				color: #99c;
				text-decoration: none
}

.mobile-selector-full {
				display: none
}

@media (max-width:768px) {
				h1 {
					font-size: 14px;
					line-height: 20px;
				}
				.hide-for-mobile {
								display: none
				}

				.dynamicad,
				.sponsoredLinks2 {
								display: none
				}

				.mobile-selector-full {
								display: block;
								padding: 12px 2%;
								width: 96%;
								margin: 0% 2%;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								box-sizing: border-box;
								border: 1px solid #d6d6d6;
								background-color: white;
								font-size: 18px;
								-webkit-appearance: initial
				}

				.optionMajor {
								font-weight: bold
				}

				.optionMinor {
								padding-left: 15px
				}

				#Addr_wrapper {
								width: 100%
				}

				body {
								background: none
				}

				#index-top-form,
				#index-bottom-form,
				#index-middle-form {
								width: 100%
				}

				.Searchforms_Outer_flush.is_results_view {
								display: none
				}

				.Searchforms_Outer,
				.Addr_Searchforms_Outer {
								padding: 2%;
								width: 96%;
								margin: 0% 2%;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								box-sizing: border-box
				}

				.Searchforms_Outer .form-outer,
				.Addr_Searchforms_Outer .form-outer {
								margin: 0px;
								padding: 3% 2%
				}

				.form-title {
								margin: 0 0 0 2% !important
				}

				.form-title h2 {
								line-height: 26px;
								font-size: 22px
				}

				.form_inner {
								padding: 0px;
								display: block
				}

				.form_inner label {
								padding: 0 5% 1px;
								font-size: 16px
				}

				.form-input-group,
				.areaCodeOrExchange,
				#ZIP_qloc {
								margin-top: 20px !important;
								width: 100%
				}

				.form-input-group input,
				.areaCodeOrExchange,
				#ZIP_qloc {
								height: 48px;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								box-sizing: border-box
				}

				.form-input-group br {
								display: none
				}

				#People_Fname,
				#People_Lname,
				#People_Loc,
				#RP_qpfull,
				#Business_Name,
				#Business_Loc,
				.areaCodeOrExchange,
				#ZIP_qloc,
				#Searchform_Reverse_Address input {
								width: 96% !important;
								padding: 8px 3%;
								margin: 0 0 0 2% !important;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								box-sizing: border-box
				}

				.areaCodeOrExchange,
				#ZIP_qloc {
								margin-top: 20px
				}

				#Addr_Footer {
								width: 100%
				}

				#Addr_Category_Outer {
								display: none
				}

				.Addr_Searchforms_Outer,
				#index-middle-form .Searchforms_Outer {
								margin-top: 10px !important
				}

				#Addr_content {
								margin-bottom: 20px
				}

				#people_button,
				#phone_button,
				#business_button,
				.form_inner button {
								margin-left: 2%;
								background: -moz-linear-gradient(#ffeb95, #ffcf00);
								background: -webkit-linear-gradient(#ffeb95, #ffcf00);
								background: -o-linear-gradient(#ffeb95, #ffcf00);
								background: linear-gradient(#ffeb95, #ffcf00);
								height: 48px
				}

				#Addr_Addl_Area_Outer {
								width: 96%;
								margin: 10px 2%;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								box-sizing: border-box;
								padding: 25px 4%
				}

				#Addl_Area_1_2 {
								margin-bottom: 20px
				}

				#Addl_Area_1_2,
				#Addl_Area_2_2 {
								width: 100%
				}

				.Addr_MultiCol_Outer {
								margin-top: 10px;
								margin-bottom: 20px
				}

				.Addr_MultiCol_Outer h3 {
								color: #64494b;
								font-weight: bold;
								margin: 0 0 0 22px
				}

				.Addr_MultiCol_Outer .title {
								color: #64494b;
								font-weight: bold;
								margin: 0 0 5px 0px;
								padding-left: 22px;
								padding-bottom: 5px;
								border-bottom: solid 1px #d4d4d4
				}

				.Addl_Area_Box_Inner_Right {
								width: 77% !important;
								font-size: 12px
				}

				.Addl_Area_Box_Inner_Left {
								padding-right: 5%
				}

				#Addr_Footer>a,
				#Addr_Footer>a:hover {
								display: inline-block;
								padding: 16px 0px;
								border: none
				}

				.ui-autocomplete {
								display: none !important
				}

				#Searchform_Reverse_AC>div.form_inner.clearfix>button,
				#Searchform_ZIP>div.form_inner.clearfix>button,
				#Searchform_ZIP>div.form_inner.clearfix,
				#Searchform_Reverse_AC>div.form_inner.clearfix {
								margin-top: 20px !important
				}

				#ad-slot {
								display: none
				}

				.wp_btn_back {
								display: inline-block;
								margin: 10px
				}

				.mobile-spacing {
								padding-left: 2%;
								padding-right: 2%
				}

				#Searchform_ZIP>div.form_inner.clearfix>button {
								width: 96%
				}

				.breadcrumbs-container {
								padding: 2px 2% 20px 2%
				}
}

@media (min-width:768px) {
				.hide-for-desktop {
								display: none
				}
}
